*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body{
    background-color:black;
    display: flex;
    justify-content: center;
    width:100%;
}

.header{
    display: flex;
    justify-content: center;
}





