.searchContainter{
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
    flex-direction: column;  
    }
}

.searchBox{
    background-color:black;
    border: 1px solid darkcyan;
    color: white;
    padding:5px;
    font-size: 18px;
    margin:15px;
}